header {
    position: relative;

    nav {
        position: absolute;
        left: 23px;
        top: 24px;
        z-index: 1;

        i {
            font-size: 16px;
        }
    }

    img {
        height: 275px;
        object-fit: cover;
    }
}